@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT|Oswald');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/*
font-family: 'Oswald', sans-serif;
font-family: 'Old Standard TT', serif;
font-family: 'Montserrat', sans-serif;

*/
:root{
  --green : rgb(255,255,224,1);
}
*{
  margin:0;padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.panel{
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    45deg,
    rgba(32,32,32,.7) ,
    rgba(16,16,128,.7)
    ), url('https://images.unsplash.com/photo-1526328674894-3faf2b2b3ddb?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=368e209d8e38f1f9a1967ca44a7ab6ce&auto=format&fit=crop&w=1351&q=80') no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

  }
  .father-menu{
    width: 60%;
    height: 70%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    position: relative;
  }
  .menu{
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.05);
    display: flex;
    justify-content: center;
    border-radius:5px;
    align-items: center;
    flex-flow: column wrap;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    color: #aaa;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
  }
  .menu:hover{
    background: rgba(255,224,224,.15);
    cursor: pointer;

    color: var(--green);
    text-shadow: 0 0 3px var(--green);

  }
  .menu p{
    font-size: 64px;
  }
  .menu h2{
    font-size: 24px;
    kerning: 1em;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
  }
.svg-animation{
  width: 300px;
  height: 300px;

}
  #gg{
    width: 300px;
    height: 300px;
    transform: rotateZ(0deg);
    transform-origin: : top top;
    animation: mover 2s linear infinite normal;
    position: absolute;
    top: 0;
    left: 0;
    fill: red;

  }
  @keyframes mover{
    0%{
      transform: rotateZ(0deg);
    }

    100%{
      transform: rotateZ(360deg);

    }
  }
